@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #252b42;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 700;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form__error {
  color: #fff;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 36px;
  padding: 0.625rem 2.25rem;
  border-radius: 2.3125rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_orange {
  background: #ff6f36;
  color: #ffffff;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.button_clear {
  border: 1px solid #0d5c63;
  color: #0d5c63;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page__services {
  margin: -6.9375rem 0rem 0rem 0rem;
}

.title {
  text-align: center;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: 0.2px;
  color: #252b42;
}

@supports (font-size: clamp( 1.5625rem , 1.1677631579rem  +  1.9736842105vw , 2.5rem )) {
  .title {
    font-size: clamp( 1.5625rem , 1.1677631579rem  +  1.9736842105vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.1677631579rem  +  1.9736842105vw , 2.5rem )) {
  .title {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 47.5);
  }
}

.title:not(:last-child) {
  margin-bottom: 0.25em;
}

.sub-title {
  text-align: center;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  position: relative;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.5625rem , -1.2796052632rem  +  14.2105263158vw , 8.3125rem )) {
  .header__container {
    gap: clamp( 1.5625rem , -1.2796052632rem  +  14.2105263158vw , 8.3125rem );
  }
}

@supports not (gap: clamp( 1.5625rem , -1.2796052632rem  +  14.2105263158vw , 8.3125rem )) {
  .header__container {
    gap: calc(1.5625rem + 6.75 * (100vw - 20rem) / 47.5);
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.3125rem;
     -moz-column-gap: 1.3125rem;
          column-gap: 1.3125rem;
}

.header__link {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #737373;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__big {
  background-color: #17213c;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

@supports (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .footer__column {
    padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .footer__column {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .footer__column {
    padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .footer__column {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

.footer__label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.footer__label:not(:last-child) {
  margin-bottom: 1.25em;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 0.625rem;
}

@supports (padding-top: clamp( 1.25rem , 1.1184210526rem  +  0.6578947368vw , 1.5625rem )) {
  .footer__bottom {
    padding-top: clamp( 1.25rem , 1.1184210526rem  +  0.6578947368vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 1.1184210526rem  +  0.6578947368vw , 1.5625rem )) {
  .footer__bottom {
    padding-top: calc(1.25rem + 0.3125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 1.1184210526rem  +  0.6578947368vw , 1.5625rem )) {
  .footer__bottom {
    padding-bottom: clamp( 1.25rem , 1.1184210526rem  +  0.6578947368vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.1184210526rem  +  0.6578947368vw , 1.5625rem )) {
  .footer__bottom {
    padding-bottom: calc(1.25rem + 0.3125 * (100vw - 20rem) / 47.5);
  }
}

.footer__copy {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  background-color: #fff;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 0.7142857143em;
}

.menu-footer__link {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.contacts-footer {
  font-weight: 600;
  line-height: 2.1428571429;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.contacts-footer__item {
  padding: 0rem 0rem 0rem 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1.875rem;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 0.8571428571em;
}

.contacts-footer__item_phone {
  background: url("../img/footer/01.svg") 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/02.svg") 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url("../img/footer/03.svg") 0 0 no-repeat;
}

.get-quote {
  position: relative;
}

.get-quote__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.get-quote__background img {
  -o-object-position: right;
     object-position: right;
}

.get-quote__container {
  position: relative;
  z-index: 2;
}

@supports (padding-top: clamp( 6.25rem , 4.0394736842rem  +  11.0526315789vw , 11.5rem )) {
  .get-quote__container {
    padding-top: clamp( 6.25rem , 4.0394736842rem  +  11.0526315789vw , 11.5rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 4.0394736842rem  +  11.0526315789vw , 11.5rem )) {
  .get-quote__container {
    padding-top: calc(6.25rem + 5.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 9.375rem , 8.2434210526rem  +  5.6578947368vw , 12.0625rem )) {
  .get-quote__container {
    padding-bottom: clamp( 9.375rem , 8.2434210526rem  +  5.6578947368vw , 12.0625rem );
  }
}

@supports not (padding-bottom: clamp( 9.375rem , 8.2434210526rem  +  5.6578947368vw , 12.0625rem )) {
  .get-quote__container {
    padding-bottom: calc(9.375rem + 2.6875 * (100vw - 20rem) / 47.5);
  }
}

.get-quote__title {
  width: 31.8125rem;
  font-weight: 800;
  line-height: 1.3793103448;
  letter-spacing: 0.2px;
  color: #252b42;
}

@supports (font-size: clamp( 1.875rem , 1.1381578947rem  +  3.6842105263vw , 3.625rem )) {
  .get-quote__title {
    font-size: clamp( 1.875rem , 1.1381578947rem  +  3.6842105263vw , 3.625rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.1381578947rem  +  3.6842105263vw , 3.625rem )) {
  .get-quote__title {
    font-size: calc(1.875rem + 1.75 * (100vw - 20rem) / 47.5);
  }
}

.get-quote__title:not(:last-child) {
  margin-bottom: 0.6034482759em;
}

.get-quote__text {
  width: 25rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
}

.get-quote__text:not(:last-child) {
  margin-bottom: 1.75em;
}

.get-quote__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services {
  position: relative;
  z-index: 2;
}

@supports (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .services {
    padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .services {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -0.9375rem -1.875rem;
}

.services__column {
  padding: 0rem 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0rem 0rem 1.875rem 0rem;
}

.services__item {
  background-color: #fff;
  padding: 2.1875rem;
  -webkit-box-shadow: 0 0.8125rem 1.1875rem rgba(0, 0, 0, 0.07);
          box-shadow: 0 0.8125rem 1.1875rem rgba(0, 0, 0, 0.07);
  height: 100%;
}

.item-services_active {
  background-color: #0d5c63;
}

.item-services_active .item-services__title {
  color: #fff;
}

.item-services_active .item-services__text {
  color: #fff;
}

.item-services__icon {
  margin-bottom: 0.625rem;
}

.item-services__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 0.625rem;
}

.item-services__text {
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.statistic {
  background: #fafafa;
}

@supports (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .statistic {
    padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .statistic {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

.statistic__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.875rem;
  margin: 0 -1.875rem;
}

.statistic__column {
  padding: 0rem 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.statistic__item {
  height: 100%;
  background-color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem 2.5rem;
}

.statistic__value {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.425;
  letter-spacing: 0.2px;
  color: #252b42;
}

.statistic__text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #737373;
}

.header-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125rem;
}

.header-statistic__sub-title {
  width: 32.8125rem;
}

.advice {
  background: #fafafa;
}

@supports (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .advice {
    padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .advice {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .advice {
    padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .advice {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

.advice__header {
  margin: 2.8125rem 0;
}

.advice__body {
  margin: 0rem -1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advice__column {
  padding: 0rem 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  height: 100%;
}

.item-advice__content {
  padding: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-advice__link {
  display: inline-block;
}

.item-advice__link:not(:last-child) {
  margin-bottom: 0.9375em;
}

.item-advice__title {
  text-align: left;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-advice__text {
  text-align: left;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-advice__image {
  display: block;
  padding: 0rem 0rem 60% 0rem;
}

.header-advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
  .who {
    padding-top: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
  .who {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
  .who {
    padding-bottom: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
  .who {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 47.5);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
  .who__header {
    margin-bottom: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
  .who__header {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 47.5);
  }
}

.who__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem )) or (column-gap: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem ))) {
  .who__body {
    -webkit-column-gap: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem );
       -moz-column-gap: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem );
            column-gap: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem )) or (column-gap: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem ))) {
  .who__body {
    -webkit-column-gap: calc(1.875rem + 5.625 * (100vw - 20rem) / 47.5);
       -moz-column-gap: calc(1.875rem + 5.625 * (100vw - 20rem) / 47.5);
            column-gap: calc(1.875rem + 5.625 * (100vw - 20rem) / 47.5);
  }
}

.who__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.1428571429%;
          flex: 0 0 57.1428571429%;
  padding: 0rem 0rem 42.25% 0rem;
  position: relative;
}

.who__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.who__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.4285714286%;
          flex: 0 1 31.4285714286%;
}

.who__title {
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: 0.2px;
  color: #252b42;
}

@supports (font-size: clamp( 1.5625rem , 1.1677631579rem  +  1.9736842105vw , 2.5rem )) {
  .who__title {
    font-size: clamp( 1.5625rem , 1.1677631579rem  +  1.9736842105vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.1677631579rem  +  1.9736842105vw , 2.5rem )) {
  .who__title {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 47.5);
  }
}

.who__title:not(:last-child) {
  margin-bottom: 0.25em;
}

.who__subtitle {
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.who__subtitle:not(:last-child) {
  margin-bottom: 3.5714285714em;
}

.item-who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item-who:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-who__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-who__title:not(:last-child) {
  margin-bottom: 0.3125em;
}

.item-who__text {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #737373;
}

@supports (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .sponsors {
    padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .sponsors {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

.sponsors__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0rem 2rem;
}

@supports (gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
  .sponsors__content {
    gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
  .sponsors__content {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .sponsors__content {
    padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .sponsors__content {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

.sponsors__icon img {
  max-width: 100%;
}

.subscribe {
  position: relative;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.8125rem;
  background-color: #252b42;
}

.subscribe__container {
  position: relative;
  z-index: 2;
}

@supports (padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
  .subscribe__container {
    padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
  .subscribe__container {
    padding-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 47.5);
  }
}

.subscribe__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #17213c;
  border-radius: 0.125rem;
  padding: 1.875rem 3.125rem;
}

.subscribe__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 3.75rem;
  background: #f9f9f9;
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0.3125rem;
  padding: 0rem 1.25rem;
}

.subscribe__input ::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input ::-moz-placeholder {
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input :-ms-input-placeholder {
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input ::-ms-input-placeholder {
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input ::placeholder {
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 3.625rem;
  background: #ff7b47;
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  padding: 0.9375rem 1.40625rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.get {
  background: #f3f3f3;
}

@supports (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .get {
    padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .get {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.875rem  +  5vw , 4.25rem )) {
  .get {
    padding-bottom: clamp( 1.875rem , 0.875rem  +  5vw , 4.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.875rem  +  5vw , 4.25rem )) {
  .get {
    padding-bottom: calc(1.875rem + 2.375 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .get__header {
    padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .get__header {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

.get__items {
  margin: 0rem -0.9375rem;
}

@supports (margin-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .get__items {
    margin-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .get__items {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

.item-get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 3.125rem 2.5rem;
  color: #252b42;
}

.item-get_active {
  padding: 5rem 2.5rem;
  background-color: #252b42;
  color: #fff;
}

.item-get__icon:not(:last-child) {
  margin-bottom: 1.0714285714em;
}

.item-get__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 1.7142857143;
  text-align: center;
  letter-spacing: 0.2px;
}

.item-get__emails:not(:last-child) {
  margin-bottom: 1.0714285714em;
}

.item-get__label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
}

.item-get__label:not(:last-child) {
  margin-bottom: 0.9375em;
}

.item-get__button {
  border: 0.0625rem solid #ff7b47;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  font-weight: 600;
  line-height: 1.7142857143;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff7b47;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-get__button_active {
  border: 0.0625rem solid #fff;
  color: #fff;
}

@supports (padding-top: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
  .contacts {
    padding-top: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
  .contacts {
    padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
  .contacts {
    padding-bottom: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
  .contacts {
    padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

.contacts__content:not(:last-child) {
  margin-bottom: 1.875rem;
}

.contacts__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: #252b42;
}

.contacts__title:not(:last-child) {
  margin-bottom: 0.4166666667em;
}

.contacts__text {
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.contacts__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__button {
  background: #ff7b47;
  border-radius: 0.3125rem;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 0.9375rem 2.5rem;
}

@media (min-width: 37.5em) {
  .footer__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 47.99875em) {
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contacts__action {
    margin-right: 2.375rem;
  }
}

@media (min-width: 61.99875em) {
  .get__items {
    margin: 0rem 2rem;
  }

  .get__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 66.875em) {
  .subscribe__body {
    margin: 0rem 2rem;
  }
}

@media (min-width: 50em) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.625rem;
  }

  .subscribe__title {
    max-width: 16.625rem;
  }
}

@media (max-width: 65em) {
  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 50em) {
  .subscribe__body {
    margin: 0rem -0.9375rem;
    padding: 0.9375rem 1.5625rem;
  }

  .subscribe__title {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .statistic__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .who__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.875rem;
  }

  .who__video {
    padding: 0rem 0rem 56.25% 0rem;
  }
}

@media (max-width: 48.75em) {
  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 45.625em) {
  .get-quote__background {
    opacity: 0.4;
  }
}

@media (max-width: 40.625em) {
  .header-statistic__sub-title {
    width: 100%;
  }
}

@media (max-width: 39.375em) {
  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 37.5em) {
  .footer__social {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 32.5em) {
  .get-quote__title {
    width: 100%;
  }

  .get-quote__text {
    width: 100%;
  }
}

@media (max-width: 31.25em) {
  .statistic__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .footer__copy {
    text-align: center;
  }

  .contacts__button {
    width: 100%;
  }
}

@media (max-width: 23.75em) {
  .get-quote__button {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (any-hover: hover) {
  .button_orange:hover {
    background: #c53800;
  }

  .button_clear:hover {
    color: #ff6f36;
    border: 1px solid #ff6f36;
  }

  .header__link:hover {
    text-decoration: underline;
  }

  .item-advice__link:hover {
    text-decoration: underline;
  }

  .item-get__email:hover {
    text-decoration: underline;
  }

  .item-get__button:hover {
    background-color: #ff7b47;
    color: #fff;
  }

  .item-get__button_active:hover {
    background-color: #ff7b47;
    color: #fff;
  }
}